.button {
  white-space: nowrap;
  display: inline-block;
  padding: 0 14px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  text-decoration: none;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  font-family: "Montserrat", sans-serif;
  position: relative;
  transition: 0.5s;
  overflow: hidden;
  z-index: 1;
  span {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: #000;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
    transform: translate(-50%, -50%);
    z-index: -1;
    border-radius: 5px;
  }

  &:hover {
    color: #fff;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08) !important;
    transform: translateY(-5px);
    cursor: pointer;
    border-color: #000 !important;
    span {
      width: 225%;
      height: 562.5px;
    }
  }

  &.primary {
    color: #ffffff;
    background-color: #3e92cc;
    border-radius: 8px;
    border: 1px solid #3e92cc;
    font-size: 20px;
    font-weight: 500;
    padding: 9px 20px;
  }

  &.secondary {
    color: #ffffff;
    background-color: #84cf3e;
    border-radius: 8px;
    border: 1px solid #84cf3e;
    font-size: 20px;
    font-weight: 500;
    padding: 9px 20px;
  }
}
