.header-fixed {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  transition: padding 225ms, box-shadow 225ms, background-color 0.3s;
  .main-menu {
    > ul {
      > li {
        > a {
          position: relative;
          padding-right: 0;
          padding-left: 0;
          margin-left: 20px;
          &::after {
            content: "";
            position: absolute;
            display: block;
            background-color: $primary;
            height: 3px;
            width: 100%;
            transform: scaleX(0);
            transition: transform 0.5s;
            transform-origin: right center;
          }
          &:hover,
          &:focus,
          &.active {
            color: $primary;
            background-color: transparent;
            &::after {
              transform: scaleX(1);
              transform-origin: left center;
            }
          }
        }
      }
    }
  }
}
