.header {
  height: 80px;
  color: #4E4E4E;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 15px rgba(50, 50, 93, 0.2);
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
      a{
        img{
          height: 57px;
          object-fit: contain;
          max-height: 57px;
        }
      }
    }
  }
  .header-social {
    height: inherit;
    display: none;
    @include media-breakpoint-up(lg) {
      display: block;
    }
  }
}
