.page-home {
  h1 {
    font-size: 45px;
    color: #001f34;
    font-weight: 700;
    font-family: "Montserrat";
  }

  h2 {
    font-size: 38px;
    color: #001f34;
    font-weight: 600;
    font-family: "Montserrat";
  }

  h5 {
    font-size: 18px;
    color: #919191;
    font-family: "Montserrat";
  }

  p {
    font-size: 16px;
    line-height: 32px;
    color: #001f34;
    font-weight: 500;
    font-family: "Montserrat";
  }

  // about us ----------------------------
  .about-us {
    margin-top: 80px;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;

    .content {
      min-height: calc(100vh - 80px);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }
  }

  .what-we-offer {
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    min-height: 100vh;

    .offer-cards {
      display: flex;
      align-items: center;
      justify-content: center;

      .offer-card {
        box-shadow: 0px 3px 20px #9191911a;
        min-width: 230px;
        max-width: 230px;
        min-height: 270px;
        margin: 15px 15px;
        background-color: white;
        transition: all 0.3s ease-in-out;
        .offer-card-wrapper {
          padding: 20px;
          text-align: center;
          display: flex;
          align-items: center;
          flex-direction: column;
        }

        p {
          font-size: 18px;
          font-weight: 600;
          color: #001f34;
        }

        a {
          font-size: 16px;
          color: #3e92cc;
        }

        .img-wrapper {
          background-color: rgba(164, 218, 255, 0.26);
          border-radius: 9px;
          width: 91px;
          height: 91px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 25px;

          img {
            width: 46px;
            object-fit: contain;
          }
        }

        &:hover {
          transform: scale(1.05);
          cursor: pointer;
          box-shadow: 0px 3px 20px rgba(145, 145, 145, 0.52);
          text-decoration: none;

          a {
            text-decoration: none;
          }
        }
      }
    }
  }

  .who-we-are {
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;

    .content {
      min-height: calc(100vh);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }
  }

  .slick-arrow {
    background-color: transparent;
    height: 48px;
    width: 48px;
    border-radius: 24px;
    z-index: 1;
    margin-left: 0;
    margin-right: 0;
  }

  .slick-prev {
    left: -45px;
    @media screen and (max-width: 800px) {
      left: -10px;
    }
  }
  .slick-next {
    right: -45px;
    @media screen and (max-width: 800px) {
      right: -10px;
    }
  }
  .slick-prev:before,
  .slick-next:before {
    font-size: 45px;
    color: $primary;
  }
  .slick-slide {
    text-align: center;
  }

  .featured-products {
    background: transparent linear-gradient(180deg, #fbfbfe 0%, #e8f6ff 100%) 0%
      0% no-repeat padding-box;
    padding: 100px 0;
    min-height: 100vh;

    .project-cards {
      .project-card {
        box-shadow: 0px 3px 20px #e5e5e5c2;
        margin: 15px;
        padding: 20px 30px;
        text-align: left;
        max-width: 347px;
        height: 332px;
        background-color: #ffffff;

        .img {
          height: 236px;
          width: 347px;
          margin-left: -30px;
          margin-top: -20px;
          background-size: cover;
        }

        h6 {
          color: #919191;
          font-size: 17px;
        }

        h5 {
          color: #001f34;
          font-size: 18;
          font-weight: 600;
          margin-top: 20px;
        }
      }
    }
  }

  .our-clients {
    padding: 100px 0;

    .expertise {
      border-right: 1px solid rgba(62, 146, 204, 0.15);
    }

    .clients {
    }

    .logos {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      padding: 20px 10px;

      img {
        margin: 10px 16px;
        max-height: 42px;
        height: 42px;
        width: auto;
      }
    }
  }

  .contact {
    background: transparent linear-gradient(180deg, #ffffff 0%, #c0ffa2b8 100%)
      0% 0% no-repeat padding-box;
    padding: 100px 0px;

    .message {
      border-right: 1px solid rgba(62, 146, 204, 0.15);
      padding-left: 30px;
      padding-right: 30px;
    }

    .contact-us {
      padding-left: 30px;
      padding-right: 30px;

      svg {
        min-width: 2.25rem;
      }

      p {
        color: #919191;
      }

      .map {
        width: 350px;
        height: auto;
        margin: 15px 0;
      }

      .address {
        padding-left: 5px;

        h6 {
          color: #001f34;
          font-size: 18px;
          font-weight: bold;
        }

        p {
          font-size: 14px;
          color: #001f34;
        }
      }

      .tel-email {
        display: flex;
        align-items: flex-start;

        h6 {
          padding-right: 10px;
          display: flex;
          align-items: center;
        }
        a {
          color: #001f34;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }

      .social-media {
        margin: 15px 0 15px 10px;

        h4 {
          font-size: 20px;
          color: #001f34;
          font-weight: 600;
        }

        svg {
          margin-right: 10px;
          height: 1.5rem;
        }
      }
    }
  }

  @include media-breakpoint-up(sm) {
    background-size: 90%;
    background-position: 159px -40px;
  }

  @include media-breakpoint-up(md) {
    background-size: 70%;
    background-position: 100% -50px;
  }

  @include media-breakpoint-up(lg) {
    background-size: 60%;
    background-position: 100% -70px;
  }
}
