// Font
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i&display=swap");

// Bootstrap
@import "bootstrap/functions";
@import "bootstrap-variables";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/root";
@import "bootstrap/reboot";
@import "bootstrap/grid";
@import "bootstrap/type";
@import "bootstrap/tables";
// @import "bootstrap/images";
// @import "bootstrap/code";
@import "bootstrap/forms";
// @import "bootstrap/buttons";
// @import "bootstrap/transitions";
// @import "bootstrap/dropdown";
// @import "bootstrap/button-group";
// @import "bootstrap/input-group";
@import "bootstrap/custom-forms";
// @import "bootstrap/nav";
// @import "bootstrap/navbar";
// @import "bootstrap/card";
// @import "bootstrap/breadcrumb";
// @import "bootstrap/pagination";
// @import "bootstrap/badge";
// @import "bootstrap/jumbotron";
// @import "bootstrap/alert";
// @import "bootstrap/progress";
// @import "bootstrap/media";
// @import "bootstrap/list-group";
// @import "bootstrap/close";
// @import "bootstrap/modal";
// @import "bootstrap/tooltip";
// @import "bootstrap/popover";
// @import "bootstrap/carousel";
// @import "bootstrap/print";
@import "bootstrap/utilities";

// Libraries
@import "libraries/hamburgers/hamburgers";

// Components
@import "components/page";
@import "components/header";
@import "components/header-fixed";
@import "components/footer";
@import "components/sub-footer";
@import "components/logo";
@import "components/main-menu";
@import "components/main-menu-mobile";
@import "components/social";
@import "components/hamburger";
@import "components/buttons";
@import "components/title";
@import "components/content";
@import "components/intro";
@import "components/strip";
@import "components/whitebox";
@import "components/feature";
@import "components/call";
@import "components/card";
@import "components/card-two";

// Pages
@import "pages/home";
@import "pages/team/page-teams";
@import "pages/testimonials/page-testimonials";
@import "pages/testimonials/testimonial";
@import "pages/services/page-services";
@import "pages/services/page-service";

// Display breakpoints for DEV
// body:after {
//   color: #000000;
//   font-size: 12px;
//   padding: 5px;
//   font-weight: bold;
//   right: 10px;
//   position: fixed;
//   text-align: center;
//   text-transform: uppercase;
//   bottom: 10px;
//   width: 200px;
//   z-index: 9999;
//   border: solid 1px #000000;
//   @each $name, $value in $grid-breakpoints {
//     @include media-breakpoint-up($name) {
//       content: "#{$name} - min-width: #{$value}";
//     }
//   }
// }

body {
  font-family: "Montserrat", sans-serif;
}

@mixin font-bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

@mixin font-medium {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.form-group {
  label {
    color: #919191;
    font-size: 16px;
    margin-bottom: 2px;
  }

  .form-control {
    border-radius: 7px;
    border-color: rgba(0, 31, 52, 0.11);
    min-height: 68px;

    &::placeholder {
      font-size: 18px;
      opacity: 0.34;
    }

    &:focus {
      border-color: #84cf3e;
      box-shadow: none;
      outline: none;
    }
  }
}

.ReactModal__Overlay--after-open {
  z-index: 10000;
  background-color: rgba(145, 145, 0145, 0.53) !important;
}

// pricing
.pricing-section {
  padding: 100px 0;
  min-height: 100vh;
  .pricing-content {
    .plan {
      border: 1px solid rgba(145, 145, 145, 0.35);
      margin: 0 10px;
      max-width: calc(33.33333% - 20px);
      &:first-child {
        padding-left: 0px;
      }

      &:last-child {
        border: 1px solid rgba(145, 145, 145, 0.35);
        padding-right: 0px;
      }
    }
  }
  @media only screen and (max-width: 768px) {
    .pricing-content {
      padding: 20px;
      .plan {
        max-width: 100%;
        padding: 0;
        margin: 20px 0;
      }
    }
  }
}
.price-modal {
  background: white;
  margin: 30px auto;
  max-width: 1000px;
  text-align: center;
  border: 1px solid rgba(145, 145, 145, 0.35);
  position: relative;
  border-radius: 5px;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: calc(100vh - 62px);
  .modal-close {
    position: absolute;
    right: 6px;
    top: 6px;
    color: #ffffff;
    border: 0;
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
  }
}
.pricing-content {
  .plan {
    border-right: 1px solid rgba(145, 145, 145, 0.35);
    padding: 0;
    z-index: 0;

    &:first-child {
      padding-left: 10px;
    }

    &:last-child {
      border: none;
      padding-right: 10px;
    }
  }

  .heading {
    padding: 20px 20px 20px 20px;
    background: linear-gradient(
      90deg,
      rgba(171, 221, 255, 1) 0%,
      rgba(215, 252, 181, 1) 100%
    );
    position: relative;
    z-index: -1;
    overflow: hidden;

    .banner {
      background-color: #b22222;
      padding: 3px;
      color: white;
      font-size: 10px;
      text-align: center;
      position: absolute;
      font-weight: bold;
      top: 21px;
      right: -46px;
      left: 225px;
      transform: rotate(45deg);
    }

    h2 {
      font-size: 20px;
      color: #001f34;
      font-weight: 700;
      font-family: "Montserrat";
    }

    p {
      font-size: 14px;
      margin-bottom: 0;
    }
  }

  .price {
    text-align: center;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: #00ace4;
    color: white;
    margin-top: -14px;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    display: block;
    max-width: 160px;
  }

  .content {
    padding: 20px;
    display: flex;
    flex-direction: column;

    label {
      font-size: 12px;
      border-bottom: 1px solid rgba(145, 145, 145, 0.35);
      padding-bottom: 10px;
      margin-bottom: 10px;

      .info {
        background-color: lightseagreen;
        padding: 0px;
        border-radius: 50%;
        font-size: 10px;
        margin-left: 10px;
        width: 16px;
        height: 16px;
        display: inline-block;
        color: white;
        font-style: normal;
        font-weight: bold;
        text-align: center;
      }

      &:last-child {
        border: none;
      }
    }
  }
}

// service modal
.ReactModalPortal {
  .ReactModal__Content {
    &.ReactModal__Content--after-open {
      position: absolute;
      top: 10px;
      left: 10% !important;
      right: 10% !important;
      bottom: auto !important;
      border-radius: 4px;
      outline: none;
      padding: 0px !important;
    }
  }
}

.service-modal {
  height: 100%;

  .service-modal--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: linear-gradient(
      90deg,
      rgba(171, 221, 255, 1) 0%,
      rgba(215, 252, 181, 1) 100%
    );
    max-height: 81px;
    height: 81px;

    h2 {
      font-size: 34px;
      margin: 0;
      color: #001f34;
    }
  }

  .service-modal--body {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(100% - 151px);

    .left {
      width: 100%;
      padding-right: 20px;
    }

    .right {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding-left: 20px;
    }

    .sub-header {
      color: #3e92cc;
      font-size: 28px;
      margin-bottom: 15px;
    }

    .content-text {
      color: #001f34;
      font-size: 16px;
    }

    .service-img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  .service-modal--footer {
    padding: 20px;
    border-top: 1px solid #919191;
    height: 70px;
    text-align: right;
  }
}

.service-ul {
  list-style: none;
  /* Remove default bullets */
}

.service-ul li::before {
  content: "-";
  color: #3e92cc;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.tool-tip {
  width: 200px;
}

.scroll-to-top {
  background-color: white;
  right: 40px;
  bottom: 40px;
  position: fixed;
  z-index: 2;
  cursor: pointer;
  border-radius: 7px;
  width: 40px;
  height: 40px;
  transition: opacity 1s ease-in-out;
  box-shadow: 0 9px 25px 0 rgba(132, 128, 177, 0.28);
  border-radius: 50%;
  border: none;
  padding: 10px;
  outline: none;
  &:focus {
    outline: none;
  }
}

.ReactModal__Content {
  .close {
    font-size: 12px;
    background-color: transparent;
    border: none;
    padding: 10px;
    position: absolute;
    right: 0;
    cursor: pointer;
    svg {
      fill: #919191;
    }
    color: #919191;
    &:focus {
      outline: none;
    }
  }
}

// media queries
@media only screen and (max-width: 1024px) {
  .header {
    .container {
      .logo {
        a {
          img {
            height: 40px;
            max-height: 40px;
          }
        }
      }

      .logo-mobile {
        width: 80px;
      }

      .main-menu {
        ul {
          li {
            cursor: pointer;
            a {
              font-size: 10px;
              text-align: center;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: calc(100% - 20px);
  }

  .page-home {
    .about-us {
      background-position: top;
      background-size: cover;

      .content {
        background-color: rgba(255, 255, 255, 0.8);
        width: calc(100% + 40px);
        margin: 0 -20px;
        padding: 0 20px;
      }
    }

    .who-we-are {
      background-position: top;
      background-size: cover;

      .content {
        background-color: rgba(255, 255, 255, 0.8);
        width: calc(100% + 40px);
        margin: 0 -20px;
        padding: 0 20px;
      }
    }

    .what-we-offer {
      background-position: top;
      background-size: cover;

      .offer-cards {
        flex-wrap: wrap;
      }
    }

    .featured-products {
      .project-cards {
        .project-card {
        }
      }
    }

    .contact {
      .message {
        border-right: 0;
        padding-bottom: 20px;
      }
    }
  }

  .service-modal {
    .service-modal--header {
      padding: 15px;
      height: 60px;

      h2 {
        font-size: 20px;
      }
    }

    .service-modal--body {
      flex-direction: column;

      .service-img {
        max-height: 200px;
      }

      .left {
        padding: 0;
        margin: -20px -40px 35px -40px;
        width: calc(100% + 40px);
      }

      .right {
        padding-left: 0;
      }

      .sub-header {
        text-align: center;
        width: 100%;
      }

      .content-text {
        text-align: center;
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .page-home {
    .offer-cards {
      flex-direction: column;
    }

    .contact {
      .contact-us {
        .map {
          margin: 15px auto;
          width: calc(100% - 10px);
        }

        .addresses {
          flex-direction: column;
        }

        .tel-email {
          flex-direction: column;
        }
      }
    }
  }
}
